# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/src/main/res/values/strings.xml
android/local.properties
android/key.properties
android/app/google-services.json

# Python-related
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
instance/
.pytest_cache/
.coverage
htmlcov/

# OS-related
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
